/* Build 7 */

/* Allgemein */

body {
    background: rgb(255,50,50);
    font-size: 1.2em;
	line-height: 1.2em;
    }

*, a {
    padding: 0;
    margin: 0;
    text-decoration: none;
    border: none;
    color: rgb(255,255,255);
    font-family: Menlo, Courier, monospace;
    }
    
#wrapper {
    width: 60%;
    margin: 0;
    padding: 20% 20% 5% 20%;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) /* iPad in portrait & landscape */, screen and (min-device-width : 320px) and (max-device-width : 480px) /* iPhone 2G-4S in portrait & landscape */, screen and (min-device-width : 320px) and (max-device-width : 568px) /* iPhone 5 in portrait & landscape */ {

    *, a {
        font-family: -apple-system-font;
    }
    
    li .number {
        font-weight: 100;
        font-size: 72px;
        line-height: 72px;
    }
    
    li .unit {
        font-weight: 100;
        line-height: 72px;
    }
    
    #wrapper {
        margin: 0 auto;
    }

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) /* iPad in portrait & landscape */ {

    #wrapper {
        width: 60%;
        padding: 20%;
    }
    
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) /* iPhone 2G-4S in portrait & landscape */, screen and (min-device-width : 320px) and (max-device-width : 568px) /* iPhone 5 in portrait & landscape */ {
    
    #wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 72px 0 18px 0;
    }
    
    #clock li {
        text-align: center;
    }
    
    #settings li {
        display: block;
        text-align: left;
        margin: 0 0 0 72px;
        line-height: 25px;
    }
    
}

@-webkit-keyframes 'wrapperSlideIn' {
    
    0% {
        margin: 0 0 0 -100%;
    }
    
    100% {
        margin: 0;
    }
    
}

#wrapper {
    -webkit-animation-name: wrapperSlideIn;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
}
    
@-webkit-keyframes 'wrapperSlideOut' {
    
    0% {
        margin: 0;
    }
    
    100% {
        margin: 0 0 0 -100%;
    }
    
}
    
#wrapper.slideOut {
    -webkit-animation-name: wrapperSlideOut;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
}

.hide {
	display: none;
}

.button:hover {
	cursor: pointer;
}
    
/* clock */

#clock ul {
	list-style: none;
	color: rgb(250,250,250);
	font-size: 1.6em;
	line-height: 1.6em;
}

/* settings */

#settings {
    display: none;
}

#settings ul {
	list-style: none;
	padding: 0 0 1.2em 0;
}

#settings p {
    padding: 0 0 1.2em 0;
}

/* icons */

@-webkit-keyframes 'iconSlideIn' {
    
    0% {
        bottom: -8px;
        opacity: 0.0;
    }
    
    100% {
        bottom: 16px;
        opacity: 1.0;
    }
    
}

#settings-icon, #done-icon {
    -webkit-animation-name: iconSlideIn;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
    position: fixed;
    right: 16px;
    bottom: 16px;
    height: 16px;
    width: 16px;
    background-size: 16px;
    background-position: right bottom;
    background-repeat: no-repeat;
}

@-webkit-keyframes 'iconSlideOut' {
    
    0% {
        bottom: 16px;
        opacity: 1.0;
    }
    
    100% {
        bottom: 40px;
        opacity: 0.0;
    }
    
}

#settings-icon.slideOut, #done-icon.slideOut {
    -webkit-animation-name: iconSlideOut;
    -webkit-animation-duration: 0.5s;
    -webkit-animation-iteration-count: 1;
}

#settings-icon {
	background-image: url(settings.svg);
}

#done-icon {
    display: none;
	background-image: url(done.svg);
}

/* messages */

#update-available {
    display: none;
	position: fixed;
	left: 16px;
	bottom: 16px;
	font-size: 16px;
}